<!DOCTYPE html>
<html>
<head>
    <title>Stockify</title>
    <style>
        body{
            background:#081b4b;
            color:white;
            font-family:Arial;
            display:flex;
            justify-content:center;
            align-items:center;
            height:100vh;
        }

        .box{
            background:#1b2d6b;
            padding:30px;
            border-radius:15px;
            text-align:center;
        }

        h1{
            color:#00ff88;
        }
    </style>
</head>
<body>

<div class="box">
    <h1>✅ Login Successful!</h1>
    <p>Welcome to Stockify</p>
</div>

</body>
</html>